<div id="menu">
    <a href="/" class="elmenu">main</a>
    <a href="/register" class="elmenu">register</a>
    <a href="/login" class="elmenu">login</a>
    <a href="/admin" class="elmenu">admin</a>
    <a href="/logout" class="elmenu">logout</a>
</div>
<div id="menuadmina">
    <a href="/sort" class="elmenuadmina">sort</a>
    <a href="/show" class="elmenuadmina">show</a>
    <a href="/gender" class="elmenuadmina">gender</a>
</div>
<h1>Kobiety:</h1>
<table id="kobiety">
    {{#each women}}
    <tr>
        <td style="width: 500px;">{{this.id}}</td>
        <td style="width: 500px;">{{this.plec}}</td>
    </tr>
    {{/each}}
</table>
<h1>Mezczyzni:</h1>
<table id="mezyzni">
    {{#each men}}
    <tr>
        <td style="width: 500px;">{{this.id}}</td>
        <td style="width: 500px;">{{#if this.plec}}{{this.plec}}{{else}}undefined{{/if}}</td>
    </tr>
    {{/each}}
</table>