<div id="menu">
    <a href="/" class="elmenu">main</a>
    <a href="/register" class="elmenu">register</a>
    <a href="/login" class="elmenu">login</a>
    <a href="/admin" class="elmenu">admin</a>
    <a href="/logout" class="elmenu">logout</a>
</div>
<div id="menuadmina">
    <a href="/sort" class="elmenuadmina">sort</a>
    <a href="/show" class="elmenuadmina">show</a>
    <a href="/gender" class="elmenuadmina">gender</a>
</div>
<form onchange="this.submit()" action="/sort" method="POST">
    <input type="radio" value="rosnaco" name="sort" id="rosnaco">rosnąco
    <input type="radio" value="malejaco" name="sort" id="malejaco">malejąco
</form>

<table>
    {{!-- {{#if malejaco}} --}}
    <tr>
        <td>{{malejaco}}</td>
    </tr>

    {{!-- {{/if}} --}}
    {{!-- {{#each malejaco}}
    <tr>
        <td>id: {{this.id}}</td>
        <td>login: {{this.login}} - {{this.haslo}}</td>
        <td>uczeń:
            {{#if uczen}}
            <input type="checkbox" checked disabled>
            {{else}}
            <input type="checkbox" disabled>
            {{/if}}
        </td>
        <td>wiek: {{this.wiek}}</td>
        <td>płeć:
            {{#if plec}}
            {{this.plec}}
            {{else}}
            undefined
            {{/if}}
        </td>
    </tr>
    {{/each}}
    {{/if}}
    {{#if rosnaco}}
    {{#each rosnaco}}
    <tr>
        <td>
            {{this}}
        </td>
    </tr>
    {{/each}}
    {{/if}} --}}
</table>